In [39]:
#!/usr/bin/env python
#-*- coding: UTF-8 -*- 

import numpy as np
import pandas as pd

In [40]:
probs = pd.read_csv("./valid/encode.bin", header=None,sep=" ")

In [99]:
probs

       0   1  2
0      0   0  0
1      0   1  0
2      0   2  0
3      0   3  0
4      0   4  0
5      0   5  0
6      0   6  0
7      0   7  1
8      0   8  0
9      0   9  0
10     0  10  0
11     0  11  0
12     0  12  0
13     0  13  0
14     0  14  1
15     0  15  0
16     0  16  0
17     0  17  0
18     0  18  0
19     0  19  0
20     0  20  0
21     0  21  0
22     0  22  0
23     0  23  1
24     0  24  0
25     0  25  0
26     0  26  0
27     0  27  0
28     0  28  0
29     0  29  0
...   ..  .. ..
1339  36   7  0
1340  36   8  0
1341  36   9  0
1342  36  10  0
1343  36  11  0
1344  36  12  0
1345  36  13  0
1346  36  14  0
1347  36  15  0
1348  36  16  0
1349  36  17  0
1350  36  18  0
1351  36  19  0
1352  36  20  0
1353  36  21  0
1354  36  22  0
1355  36  23  0
1356  36  24  0
1357  36  25  0
1358  36  26  0
1359  36  27  0
1360  36  28  0
1361  36  29  0
1362  36  30  0
1363  36  31  0
1364  36  32  0
1365  36  33  0
1366  36  34  0
1367  36  35  0
1368  36  36  1

[1369 rows x 3 columns]

In [118]:
myprobs = np.zeros((37, 37))
for i in probs.T:
    myprobs[ probs.ix[i,0] ][ probs.ix[i,1] ] = probs.ix[i,2]

In [119]:
myprobs

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [ ]:
mydict = pd.read_csv("./valid/symbolToNum.dict", header=None, sep="\t")

In [64]:
mydict

    0   1
0      36
1   1  13
2   0   5
3   3  27
4   2  16
5   5  28
6   4  29
7   7  17
8   6   4
9   9  35
10  8  10
11  a   6
12  c  20
13  b  24
14  e  11
15  d   9
16  g   2
17  f   3
18  i   0
19  h  18
20  k  12
21  j  30
22  m  32
23  l  22
24  o  25
25  n  14
26  q  23
27  p   8
28  s  15
29  r   1
30  u  33
31  t  19
32  w  26
33  v   7
34  y  21
35  x  34
36  z  31

In [51]:
test = pd.read_csv("./valid/test_copy.num", header=None, sep=" ")

In [52]:
test

,0,1,2,3,4,5,6,7,8,9,...,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547
0,0,32,12,36,20,32,29,16,11,36,...,16,36,15,14,0,23,15,11,14,7

In [61]:
ans = pd.read_csv("./valid/ans_copy.num", header=None, sep=" ")

In [75]:
ans.size

1548

In [77]:
count = 0
total = test.size
for  i in test:
    if test.ix[0,i] == ans.ix[0,i]:
        count += 1

In [81]:
err = count/total

In [82]:
err

0.23320413436692505